<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%username%>'s Chat Rooms</title>
</head>
<body>
    <h1>My Chat Rooms</h1>
    <div id="rooms-container">
        <% rooms.forEach(function(room) { %>
            <div class="room">
                <a href="/rooms/<%= room.room_id %>">
                    Room ID: <%= room.room_id %>, 
                    Last Message Date: <%= room.last_message_date.toLocaleString() %>, 
                    Unread Messages: <%= room.unread_message_count %>
                </a>
            </div>
        <% }); %>
    </div>
</body>
</html>
